<!DOCTYPE html>
<html>
<head>

    {% load static %}

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</head>

<body>

    <div class="navbar">
        <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'games' %}">Game App</a>
        </div>
    </div>

    <div class="container-fluid game-form">
        {% if edit %}
                <h3>Edytuj grę</h3>
        {% else %}
            <h3>Dodaj grę</h3>
        {% endif %}

        <br>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="mb-3">
                <label for="inputTitle" class="form-label">Tytuł</label>
                <input type="text" class="form-control" id="inputTitle" name="title" value="{{ default_values.title }}" required>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="releaseDate" class="form-label">Data wydania</label>
                        <input type="date" class="form-control" id="releaseDate" name="releaseDate" value="{{ default_values.releaseDate }}" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="ageRating" class="form-label">Ograniczenie wiekowe</label>
                        <select class="form-control" id="ageRating" name="ageRating">
                            <option value="3" {% if default_values.ageRating == 3 %}selected{% endif %}>3</option>
                            <option value="7" {% if default_values.ageRating == 7 %}selected{% endif %}>7</option>
                            <option value="12" {% if default_values.ageRating == 12 %}selected{% endif %}>12</option>
                            <option value="16" {% if default_values.ageRating == 16 %}selected{% endif %}>16</option>
                            <option value="18" {% if default_values.ageRating == 18 %}selected{% endif %}>18</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="platforms" class="form-label">Platformy</label>
                        <select class="form-control" id="platforms" name="platforms" size="8" multiple>
                            {% for platform in platforms %}
                                <option value="{{ platform.nazwa }}"
                                    {% if default_values.platforms and platform.nazwa in default_values.platforms %}
                                        selected
                                    {% endif %}
                                >{{ platform.nazwa }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="genres" class="form-label">Gatunki</label>
                        <select class="form-control" id="genres" name="genres" size="8" multiple>
                            {% for genre in genres %}
                                <option value="{{ genre.nazwa }}"
                                    {% if default_values.genres and genre.nazwa in default_values.genres %}
                                        selected
                                    {% endif %}
                                >{{ genre.nazwa }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="boxart" class="form-label">Okładka</label>
                        <input type="file" class="form-control" id="boxart" name="boxart">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="developer" class="form-label">Deweloper</label>
                        <select class="form-control" id="developer" name="developer">
                            <option value="Brak" {% if default_values.developer == "Brak" %} selected {% endif %}>Brak</option>
                            {% for developer in developers %}
                                {% if developer.nazwa != 'Brak' %}
                                    <option value="{{ developer.nazwa }}" {% if developer.nazwa == default_values.developer %} selected {% endif %}>{{ developer.nazwa }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label for="franchise" class="form-label">Seria</label>
                <select class="form-control" id="franchise" name="franchise">
                    <option value="Brak" {% if default_values.franchise == "Brak" %} selected {% endif %}>Brak</option>
                    {% for franchise in franchises %}
                        {% if franchise.nazwa != 'Brak' %}
                            <option value="{{ franchise.nazwa }}" {% if default_values.franchise == franchise.nazwa %} selected {% endif %}>{{ franchise.nazwa }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>

            <div class="mb-3">
                <label for="description" class="form-label">Opis</label>
                <input type="text" class="form-control" id="description" name="description" value="{{ default_values.description }}">
            </div>

            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="dlc" name="dlc" {% if default_values.dlc == 1 %} checked {% endif %}>
                <label class="form-check-label" for="dlc">DLC</label>
            </div>

            <div class="mb-3 hidden" id="dlcBaseGameContainer">
                <label for="dlcBaseGame" class="form-label">Gra podstawowa</label>
                <select class="form-control" id="dlcBaseGame" name="dlcBaseGame">
                    <option value="Brak">Brak</option>
                    {% for baseGame in baseGames %}
                        <option value="{{ baseGame.tytul }}" {% if default_values.dlcBaseGame == baseGame.tytul %} selected {% endif %}>{{ baseGame.tytul }}</option>
                    {% endfor %}
                </select>
            </div>

            {% if edit == 0 %}
                <button type="submit" class="btn btn-primary">Dodaj grę</button>
            {% else %}
                <button type="submit" class="btn btn-primary">Edytuj grę</button>
            {% endif %}
        </form>
    </div>

    <script>
        var checkbox = document.getElementById('dlc');
        var baseGame = document.getElementById('dlcBaseGameContainer');

        if (checkbox.checked) {
            baseGame.classList.remove('hidden');
        }

        checkbox.addEventListener('change', () => {
                if (checkbox.checked) {
                    baseGame.classList.remove('hidden');
                } else {
                    baseGame.classList.add('hidden');
                }
        })
    </script>
</body>
</html>