<!DOCTYPE html>
<html>
<head>

    {% load static %}

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>

<body>

    <div class="navbar">

    </div>

    <div class="games-details">
        <table>
            <tr>
                <td rowspan="2" colspan="2" class="table-img">
                    <img src="{% static game.okladka %}"
                        alt="{{ game.tytul }}">
                </td>

                <th colspan="4">
                    <h4>{{ game.tytul }}</h4>
                </th>
            </tr>

            <tr>
                <td colspan="4">
                    <p>{{ game.opis }}</p>
                </td>
            </tr>

            <tr>
                <td class="details-td">
                    <p>Release date:</p>
                </td>

                <td class="details-td">
                    <p>{{ game.data_wydania }}</p>
                </td>

                <td class="details-td">
                    <p>Developer:</p>
                </td>

                <td class="details-td">
                    <p>{{ game.deweloper }}</p>
                </td>

                <td class="details-td">
                    <p>Genres:</p>
                </td>

                <td class="details-td">
                    <p>{{ game.gatunki }}</p>
                </td>
            </tr>

            <tr>
                <td class="details-td">
                    <p>Age rating:</p>
                </td>

                <td>
                    <img src="{% static game.ograniczenie_wiekowe %}"
                         alt="Age Rating"
                         class="age-rating-img">
                </td>

                <td>
                    <p>Franchise:</p>
                </td>

                <td>
                    <p>{{ game.franczyza }}</p>
                </td>

                <td>
                    <p>Platformy:</p>
                </td>

                <td>
                    <p>{{ game.platformy }}</p>
                </td>
            </tr>

            <tr>
                <td>
                    <p>Rating:</p>
                </td>

                <td>
                    <p>5.0</p>
                </td>
            </tr>
        </table>
    </div>

</body>
</html>