<!DOCTYPE html>
<html>
<head>

    {% load static %}

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

</head>

<body>

    <div class="navbar">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'games' %}">Game App</a>

            <div class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Panel administratora
                  </a>
                  <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{% url 'game_form' 'add' %}">Dodaj grę</a></li>
                      <li><a class="dropdown-item" href="{% url 'add' 'gatunek' %}">Dodaj gatunek</a></li>
                      <li><a class="dropdown-item" href="{% url 'add' 'platforma' %}">Dodaj platformę</a></li>
                      <li><a class="dropdown-item" href="{% url 'add' 'franczyza' %}">Dodaj franczyzę</a></li>
                      <li><a class="dropdown-item" href="{% url 'add' 'deweloper' %}">Dodaj dewelopera</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="{% url 'delete' 'gatunek' %}">Usuń gatunek</a></li>
                      <li><a class="dropdown-item" href="{% url 'delete' 'platforma' %}">Usuń platformę</a></li>
                      <li><a class="dropdown-item" href="{% url 'delete' 'franczyza' %}">Usuń franczyzę</a></li>
                      <li><a class="dropdown-item" href="{% url 'delete' 'deweloper' %}">Usuń dewelopera</a></li>
                  </ul>
            </div>
        </div>
    </div>

    <div class="navbar">
        <div class="container-fluid">
            <h3>Wszystkie gry</h3>
        </div>
    </div>

    <div class="games-list">
        {% for game in games %}
            <a href="{% url 'game' %}?id={{ game.id }}">
                <img src="{% static game.boxart %}"
                     alt="{{ game.title }}"
                     class="games-list-img">
            </a>
        {% endfor %}
    </div>

</body>
</html>