<!DOCTYPE html>
<html>
<head>

    {% load static %}

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>

<body>

    <div class="navbar">

    </div>

    <div class="games-details">
        <table>
            <tr>
                <td rowspan="2">
                    <img src="{% static game.okladka %}">
                </td>
                <th>
                    <h4>{{ game.tytul }}</h4>
                </th>
            </tr>

            <tr>
                <td>
                    <p>{{ game.opis }}</p>
                </td>
            </tr>
        </table>
    </div>

</body>
</html>