<!DOCTYPE html>
<html>
<head>

    {% load static %}


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

</head>

<body>

    <div class="navbar">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'games' %}">Game App</a>
        </div>
    </div>

    <div class="game-details">
        <table>
            <tr>
                <td rowspan="2" colspan="2" class="table-img">
                    <img src="{% static game.okladka %}"
                        alt="{{ game.tytul }}">
                </td>

                <th colspan="4" class="game-title">
                    <h4>{{ game.tytul }}</h4>
                </th>
            </tr>

            <tr>
                <td colspan="4" class="game-description">
                    <p>{{ game.opis }}</p>
                </td>
            </tr>

            <tr>
                <td class="details-td-left">
                    <div>
                        <p>Release date:</p>
                    </div>
                </td>

                <td class="details-td-right">
                    <div>
                        <p>{{ game.data_wydania }}</p>
                    </div>
                </td>

                <td class="details-td-left">
                    <div>
                        <p>Developer:</p>
                    </div>
                </td>

                <td class="details-td-right">
                    <div>
                        <p>{{ game.deweloper }}</p>
                    </div>
                </td>

                <td class="details-td-left">
                    <div>
                        <p>Genres:</p>
                    </div>
                </td>

                <td class="details-td-right">
                    <div>
                        <p>{{ game.gatunki }}</p>
                    </div>
                </td>
            </tr>

            <tr>
                <td class="details-td-left">
                    <div>
                        <p>Age rating:</p>
                    </div>
                </td>

                <td class="details-td-right">
                    <div>
                        <img src="{% static game.ograniczenie_wiekowe %}"
                             alt="Age Rating"
                             class="age-rating-img">
                    </div>
                </td>

                <td class="details-td-left">
                    <div>
                        <p>Franchise:</p>
                    </div>
                </td>

                <td class="details-td-right">
                    <div>
                        <p>{{ game.franczyza }}</p>
                    </div>
                </td>

                <td class="details-td-left">
                    <div>
                        <p>Platformy:</p>
                    </div>
                </td>

                <td class="details-td-right">
                    <div>
                        <p>{{ game.platformy }}</p>
                    </div>
                </td>
            </tr>

            <tr>
                <td class="details-td-left">
                    <div>
                        <p>Rating:</p>
                    </div>
                </td>

                <td class="details-td-right">
                    <div>
                        <p>5.0</p>
                    </div>
                </td>

                {% if game.dodatek %}
                    <td colspan="2" class="details-td-left">
                        <div>
                            <p>Base game:</p>
                        </div>
                    </td>

                    <td colspan="2" class="details-td-right">
                        <divx>
                            <a href="{% url 'game' game.gra_podstawowa %}">
                                {{ game.tytul_gry_podstawowej }}
                            </a>
                        </divx>
                    </td>
                {% endif %}
            </tr>

        </table>
    </div>

</body>
</html>