a {
    text-decoration: none;
}

body {
    font-family: "Arial";
}

img {
    border-radius: 5%;
}

img:hover {
    -webkit-filter: brightness(80%);
}

table {
    margin: 5%;
}

.games-list {
    text-align: center;
}

.games-list-img {
    height: 300px;
    width: auto;
}

.navbar {
    margin: 0 3% 0 3%;
}