a {
    text-decoration: none;
}

body {
    font-family: "Arial";
}

table {
    margin: 5%;
}

table, th, td {
  border: 1px solid black;
}

.age-rating-img {
    height: 70px;
    width: auto;
}

.details-td {
    width: 16%;
}

.game-form {
    max-width: 80%;
    margin: 2% 10%;
}

.games-list {
    text-align: center;
}

.games-list-img {
    height: 300px;
    width: auto;
    border-radius: 5%;
    margin-top: 10px;
}

.games-list-img:hover {
    -webkit-filter: brightness(80%);
}

.hidden {
    display: none;
}

.navbar,
.games-list {
    margin: 0 3% 0 3%;
}

.table-img {
    width: 30%;
    text-align: center;
}