a {
    text-decoration: none;
}

body {
    font-family: "Arial";
}

table {
    margin: 5%;
    border-collapse: separate;
    border-spacing: 3px;
}

.age-rating-img {
    height: 70px;
    width: auto;
}

.details-td-left {
    border-radius: 10px 0 0 10px;
    font-weight: bold;
}

.details-td-right {
    border-radius: 0 10px 10px 0;
}

.details-td-left,
.details-td-right {
    width: 16%;
    height: 100%;
    text-align: center;
    border: 2px solid black;
}

.details-td-left > div,
.details-td-right > div {
    margin: 10px;
}

.game-form {
    max-width: 80%;
    margin: 2% 10%;
}

.games-list {
    text-align: center;
}

.games-list-img {
    height: 300px;
    width: auto;
    border-radius: 5%;
    margin-top: 10px;
}

.games-list-img:hover {
    -webkit-filter: brightness(80%);
}

.game-title {
    text-align: center;
}

.game-title > h4 {
    font-weight: bold;
    font-size: 2rem;
}

.game-description > p {
    padding: 3%;
    text-align: justify; 
}

.hidden {
    display: none;
}

.navbar,
.games-list {
    margin: 0 3% 0 3%;
}

.table-img {
    width: 30%;
    text-align: center;
}
