a {
    text-decoration: none;
}

body {
    font-family: "Arial";
}

table {
    margin: 5%;
}

table, th, td {
  border: 1px solid black;
}

.age-rating-img {
    height: 70px;
    width: auto;
}

.details-td {
    width: 16%;
}

.games-list {
    text-align: center;
}

.games-list-img {
    height: 300px;
    width: auto;
    border-radius: 5%;
}

.games-list-img:hover {
    -webkit-filter: brightness(80%);
}

.navbar {
    margin: 0 3% 0 3%;
}

.table-img {
    width: 30%;
    text-align: center;
}